ul {
  display: block;
  list-style-type: disc;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Gowun Dodum', sans-serif;
}

h1 {
  font-size: 45px;
  line-height: 126%;
  letter-spacing: -0.05em;
  margin: 20px 0 20px 0;
}

h2 {
  font-size: 18px;
  color: #9D29B0;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #fff;
  border-bottom: 0.5px solid #ececec;
  z-index: 100;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  width: 100%;
  max-width: 1000px;
}

.nav-wrapper a img {
  height: 34px;
}

.nav-container {
  margin: auto;
  padding: 0px;
}

.nav-contents {
  list-style: none;
  margin: 0 2rem 0 2rem;
  float: left;
}

.nav-contents span {
  position: relative;
  font-size: 17px;
}

.mainlogo-container {
  height: 400px;
  width: 100%;
  margin-top: 60px;
  background: linear-gradient(93.81deg, rgba(157, 41, 176, 0.2652) -30.96%, #6A8EE5 100%);
}

.logo-img-container {
  padding-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
}

#main-logo {
  height: 184px;
  width: 126px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.logo-container span {
  margin-top: 20px;
  padding: 10px 15px 0px 15px;
  border-top: 1px solid #fff;
  font-size: 15px;
  line-height: 126%;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}


.contents-type1 {
  height: 900px;
  display: flex;
  margin: 0 auto;
  width: 1000px;
  justify-content: space-between;
}

#first-pic {
  width: 447px;
}

.flexbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-img {
  display: flex;
  flex-direction: column;
  justify-items: center;
}


.contents-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desc {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
}

.desc span {
  font-size: 18px;
  line-height: 146%;
  letter-spacing: -0.05em;
}

.contents-desc-container {
display: flex;
flex-direction: column;
justify-content: center;
}
.contents-desc-container div{
  padding-right: 10px;
}

.contents-desc-container div {
  margin-bottom: 60px;
}

.under-h1-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: -0.05em;
  color: #000000;
}
#second-pic{
  width: 480px;
  padding-right: 10px;
}
#third-pic{
  width: 480px;
}
#two{
  background: rgba(188, 157, 222, 0.25);
}
#three{
  background: rgba(143, 146, 228, 0.25);
}
.change-color{
  width: 100%;
  height: 400px;
  background: rgba(143, 146, 228, 0.25);
  -webkit-transition-duration:1s;
  -webkit-transition-timing-function:ease;
  transition-duration:1s;
  transition-timing-function:ease;
}
.change-color.activated{
  background-color:rgba(81, 88, 124, 1);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.last{
  color: white;
}
#four{
  background-color:rgba(81, 88, 124, 1);
  height: 1100px;
}
.come-back{
  width: 100%;
  height: 600px;
  background: linear-gradient(175.3deg, rgba(38, 46, 91, 0.8) 6.28%, rgba(38, 46, 91, 0) 96.2%);}
#end{
  width: 100%;
  height: 1000px;
}
.last-inner{
  width: 1000px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-top: 135px;
}
.name-section{
  text-align: center;
  padding-bottom: 50px;
  width: 800px;
  min-width: 800;
}
.intorduction-section{
  display: flex;
  flex-direction: column;
}
.intro{
  display: flex;
  justify-content: space-between;
}
.card{
  width: 350px;
  height: 195px;
  border-radius: 20px;
  background: rgba(238, 230, 246, 0.67);
  box-shadow: 0px 4px 4px #D7CAE8;
  font-size: 18px;
  padding-left: 40px;
  padding-top: 30px;
}
.boll{
  width: 5px;
  margin: 0 5px 0 0;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(116, 106, 229, 1);
  margin: auto 0;
}
.what{
  display: flex;
  margin-bottom: 3px;
}
.name{
  display: flex;
  align-items: flex-end;
}
.korean{
  margin-right: 3px;
  font-size: 30px;
}
.division{
  padding-top: 20px;
  padding-bottom: 10px;
}
.github-logo{
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.goto{
  padding-top: 20px;
}
.goto-container{
  align-items: center;
  display: flex;
}
a{
  text-decoration: none;
}
.text-container{
  font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 126%;
letter-spacing: -0.05em;
margin-left: 30px;
color: #A9A9A9;
}
#footer-img{
  height: 70px;
}
.footer-container{
  display: flex;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
}
.footer-wrapper{
  width: 100%;
}
.text-container p {
  margin: 8px 0 8px 0;
}