ul {
  display: block;
  list-style-type: disc;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Gowun Dodum', sans-serif;
}

h1 {
  font-size: 45px;
  line-height: 126%;
  letter-spacing: -0.05em;
  margin: 20px 0 20px 0;
}
h2{
  font-size: 18px;
  color: #9D29B0;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #fff;
  border-bottom: 0.5px solid #ececec;
  z-index: 100;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  width: 100%;
  max-width: 1000px;
}

.nav-wrapper a img {
  height: 34px;
}

.nav-container {
  margin: auto;
  padding: 0px;
}

.nav-contents {
  list-style: none;
  margin: 0 2rem 0 2rem;
  float: left;
}

.nav-contents span {
  position: relative;
  font-size: 17px;
}

.mainlogo-container {
  height: 400px;
  width: 100%;
  margin-top: 60px;
  background: linear-gradient(93.81deg, rgba(157, 41, 176, 0.2652) -30.96%, #6A8EE5 100%);
}

.logo-img-container {
  padding-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
}

#main-logo {
  height: 184px;
  width: 126px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.logo-container span {
  margin-top: 20px;
  padding: 10px 15px 0px 15px;
  border-top: 1px solid #fff;
  font-size: 15px;
  line-height: 126%;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}

.contents-section-container {
  width: 1000px;
  height: 900px;
}

.contents-type1 {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

#first-pic {
  width: 447px;
}

.flexbox {
  display: flex;
  justify-content: center;
}

.content-img {
  display: flex;
  flex-direction: column;
  justify-items: center;
}


.contents-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desc {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
}

.desc span {
  font-size: 18px;
  line-height: 146%;
  letter-spacing: -0.05em;
}

.contents-desc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contents-desc-container div{
  margin-bottom: 60px;
}
.under-h1-desc{
  font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 156%;
letter-spacing: -0.05em;
color: #000000;
}